<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                template="../WEB-INF/templates/modal-simple-template.xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:define name="contentModalPanel" style="height:100%;width:100%;">
        <rich:panel header="Filtros de busqueda">
            <h:panelGrid id="panelGridFiltrosBusqueda" columns="7">
                <h:outputLabel value="Codigo de Usuario:"/>
                <h:inputText value="#{panelFiltroBusquedaBean.codigoUsuario}"
                             style="text-transform: lowercase"/>

                <h:outputLabel value="Fecha Inicial:"/>
                <rich:calendar value="#{panelFiltroBusquedaBean.fechaInicial}"
                               popup="true" direction="bottomRight" datePattern="dd/MM/yyyy"
                               enableManualInput="true"
                               required="true"
                               requiredMessage="Debe ingresar fecha inicial"/>

                <h:outputLabel value="Fecha Inicial:"/>
                <rich:calendar value="#{panelFiltroBusquedaBean.fechaFinal}"
                               popup="true" direction="bottomRight" datePattern="dd/MM/yyyy"
                               enableManualInput="true"
                               required="true"
                               requiredMessage="Debe ingresar fecha final"/>

                <a4j:commandButton value="Aplicar Filtro"
                                   action="#{panelFiltroBusquedaBean.aplicarFiltro}"
                                   render="tablaRegistroHoras"/>
            </h:panelGrid>
        </rich:panel>
    </ui:define>
</ui:composition>