<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:a4j="http://richfaces.org/a4j"
                template="../WEB-INF/templates/modal-simple-template.xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:define name="contentModalPanel" style="height:100%;width:100%;">
        <rich:panel header="Ingreso Registro de Horas">
            <h:panelGrid id="panelGridRegistroHoras" columns="7">
                <h:outputLabel value="Usuario:"/>
                <rich:select enableManualInput="true" value="#{panelRegistrarHorasDesarrolloBean.ideUsuario}"
                             defaultLabel="inice a escribir para seleccionar" required="true"
                             requiredMessage="Debe seleccionar un usuario">
                    <f:selectItems value="#{panelRegistrarHorasDesarrolloBean.usuariosOptions}" />
                </rich:select>

                <h:outputLabel value="Codigo Empresa:"/>
                <rich:select enableManualInput="true" value="#{panelRegistrarHorasDesarrolloBean.ideEmpresa}"
                             defaultLabel="inice a escribir para seleccionar" required="true"
                             requiredMessage="Debe seleccionar un codigo de empresa">
                    <f:selectItems value="#{panelRegistrarHorasDesarrolloBean.empresasOptions}"/>
                    <a4j:ajax event="change" listener="#{panelRegistrarHorasDesarrolloBean.llenarListaProyectosPorEmpresa}"
                              render="selectIdeProyecto"/>
                </rich:select>

                <h:outputLabel value="Proyecto: "/>
                <rich:select id="selectIdeProyecto" enableManualInput="true"
                             value="#{panelRegistrarHorasDesarrolloBean.ideProyecto}"
                             defaultLabel="inice a escribir para seleccionar" required="true"
                             requiredMessage="Debe de seleccionar un proyecto">
                    <f:selectItems value="#{panelRegistrarHorasDesarrolloBean.proyectosOptions}"/>
                    <a4j:ajax event="change" listener="#{panelRegistrarHorasDesarrolloBean.llenarListaTareasPorProyecto}"
                              render="selectideTareaPry"/>

                </rich:select>

                <h:outputLabel value=""/>

                <h:outputLabel value="Tarea Asignada:"/>
                <rich:select id="selectideTareaPry" enableManualInput="true" listWidth="400px"
                             value="#{panelRegistrarHorasDesarrolloBean.ideTareaPry}"
                             defaultLabel="inice a escribir para seleccionar" required="true"
                             requiredMessage="Debe de seleccionar una tarea">
                    <f:selectItems value="#{panelRegistrarHorasDesarrolloBean.tareasOptions}"/>
                </rich:select>

                <h:outputLabel value="Horas trabajadas:"/>
                <h:inputText id="inputTextHorasTrabajadas"
                             value="#{panelRegistrarHorasDesarrolloBean.horasTrabajadas}"
                             required="true"
                             requiredMessage="Horas trabajadas es requerido"/>

                <h:outputLabel value="Horas extras trabajadas:"/>
                <h:inputText value="#{panelRegistrarHorasDesarrolloBean.horasExtrasTrabajadas}"/>

                <h:outputLabel value=""/>

                <h:outputLabel value="Fecha Desarrollo:"/>
                <rich:calendar value="#{panelRegistrarHorasDesarrolloBean.fechaDesarrollo}"
                               popup="true" direction="bottomRight" datePattern="dd/MM/yyyy"
                               enableManualInput="true" required="true"
                               requiredMessage="Fecha desarrollo es requerido"/>

                <h:outputLabel value=""/>
                <h:outputLabel value=""/>
                <h:outputLabel value=""/>
                <h:outputLabel value=""/>
                <h:outputLabel value=""/>

                <h:outputLabel value="Titulo del Defecto/RQM"/>
                <h:inputText value="#{panelRegistrarHorasDesarrolloBean.tituloDefecto}"/>

                <h:outputLabel value="Descripcion del Defecto/RQM"/>
                <h:inputTextarea value="#{panelRegistrarHorasDesarrolloBean.descripcionDefecto}"
                                 style="width: 300px;"/>

                <h:outputLabel value="Solución del Defecto/RQM"/>
                <h:inputTextarea value="#{panelRegistrarHorasDesarrolloBean.solucionDefecto}"
                                 style="width: 300px;"/>

                <h:outputLabel value=""/>

                <a4j:commandButton value="Agregar"
                                   action="#{panelRegistrarHorasDesarrolloBean.agregarRegistroHora}"
                                   render="panelGridRegistroHoras, tablaRegistroHoras"/>

                <a4j:commandButton value="Limpiar"
                                   execute="@this"
                                   action="#{panelRegistrarHorasDesarrolloBean.inicializaRegistrarHorasDesarrollo}"
                                   render="panelGridRegistroHoras,tablaRegistroHoras"/>
            </h:panelGrid>
        </rich:panel>

    </ui:define>
</ui:composition>