<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:a4j="http://richfaces.org/a4j"
                template="../WEB-INF/templates/modal-simple-template.xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:define name="contentModalPanel" style="height:100%;width:100%;">

            <rich:dataTable id="tablaRegistroHoras"
                         value = "#{panelFiltroBusquedaBean.registroHorasEntityList}"
                         var = "rh"
                         iterationStatusVar="it"
                         rows="15">

                <rich:column width="45px">
                    <f:facet name = "header">Empresa</f:facet>
                    #{rh.pryTareasXProyectoEntity.pryProyectoByIdeProyecto.pryEmpresaByIdeEmpresa.codigoEmpresa}
                </rich:column>

                <rich:column width="45px">
                    <f:facet name = "header">Proyecto</f:facet>
                    #{rh.pryTareasXProyectoEntity.pryProyectoByIdeProyecto.nombreProyecto}
                </rich:column>
                <rich:column width="45px">
                    <f:facet name = "header">Codigo Tarea</f:facet>
                    #{rh.pryTareasXProyectoEntity.codigoTarea}
                </rich:column>
                <rich:column width="220px">
                    <f:facet name = "header">Nombre Tarea</f:facet>
                    #{rh.pryTareasXProyectoEntity.descripTarea}
                </rich:column>
                <rich:column width="45px">
                    <f:facet name = "header">Usuario Desa</f:facet>
                    #{rh.pryUsuarioDesaByIdeUsuario.codUsuario}
                </rich:column>
                <rich:column width="45px">
                    <f:facet name = "header">Fecha Desa</f:facet>
                    <h:outputText value="#{rh.fechaDesa}">
                        <f:convertDateTime dateStyle="short"
                                           timeZone="#{panelFiltroBusquedaBean.timeZone}" type="both"
                                           pattern="dd/MM/yyyy HH:mm:ss"/>
                    </h:outputText>
                </rich:column>
                <rich:column width="45px">
                    <f:facet name = "header">Horas Desa</f:facet>
                    #{rh.horasDesa}
                </rich:column>
                <rich:column width="45px">
                    <f:facet name = "header">Horas Extra Desa</f:facet>
                    #{rh.horasDesaExtra}
                </rich:column>
                <rich:column width="45px">
                    <f:facet name = "header">Titulo Defecto/RQM </f:facet>
                    #{rh.tituloDefecto}
                </rich:column>
                <rich:column width="65px">
                    <f:facet name = "header">Acciones</f:facet>
                    <a4j:commandButton id="btnActualizar"
                                       image="/resources/images/application_form_edit.png"
                                       action="#{panelRegistrarHorasDesarrolloBean.asignarRegistroHorasParaModificar(rh)}"
                                       execute="@this"
                                       render="panelGridRegistroHoras"/>

                    <h:outputText value="&#160;&#160;&#160;&#160;" />

                    <a4j:commandButton id="btnEliminar"
                                       image="/resources/images/application_form_delete.png"
                                       execute="@this"
                                       action="#{panelRegistrarHorasDesarrolloBean.eliminarRegistroHora(rh)}"
                                       render="tablaRegistroHoras"/>

                </rich:column>

                <f:facet name="footer">
                    <rich:dataScroller/>
                </f:facet>
            </rich:dataTable>

    </ui:define>
</ui:composition>