<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich"
                template="../WEB-INF/templates/simple-template.xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:define name="content" style="height:100%;width:100%;">
        <h:form id="formRegistroHoras">
            <rich:messages/>
            <ui:include src="panelRegistrarHorasDesarrollo.xhtml"/>
        </h:form>

        <h:form id="formFiltroBusqueda">
            <ui:include src="panelFiltroRegistroHorasDesarrollo.xhtml"/>
            <ui:include src="panelRegistroHorasList.xhtml"/>
        </h:form>

    </ui:define>
</ui:composition>