<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                template="../WEB-INF/templates/simple-template.xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:define name="content" style="height:100%;width:100%;">

    </ui:define>
</ui:composition>