<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">

<h:head>
    <title>Title 17nov2020</title>
</h:head>

<h:body>
    <h:form>
        <h:commandLink value = "Pagina 1" action="#{plantillDocxaBean.generarPDF}"/>
    </h:form>
</h:body>

</html>