<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:a4j="http://richfaces.org/a4j"
                template="../WEB-INF/templates/modal-simple-template.xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:define name="contentModalPanel" style="height:100%;width:100%;">
        <rich:dataTable id="tablaRegistroEmpresas"
                        value = "#{panelFiltroBusquedaBean.registroHorasEntityList}"
                        var = "re"
                        iterationStatusVar="it"
                        rows="15">
            <rich:column width="45px">
                <f:facet name = "header">Codigo</f:facet>
            </rich:column>
            <rich:column width="100px">
                <f:facet name = "header">Nombre</f:facet>
            </rich:column>

        </rich:dataTable>
    </ui:define>
</ui:composition>
