<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:a4j="http://richfaces.org/a4j"
                template="../WEB-INF/templates/modal-simple-template.xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:define name="contentModalPanel" style="height:100%;width:100%;">
        <rich:panel header="Ingreso de Empresas">
            <h:panelGrid id="panelGridRegistroEmpresas" columns="6">
                <h:outputLabel value="Codigo"/>
                <h:inputText value="#{panelRegistrarEmpresasBean.codigoEmpresa}"
                             required="true" requiredMessage="Debe ingresar codigo de empresa"/>

                <h:outputLabel value="Nombre"/>
                <h:inputText value="#{panelRegistrarEmpresasBean.nombreEmpresa}"
                             required="true" requiredMessage="Debe ingresar nombre de empresa"/>

                <h:outputLabel value="Estado"/>
                <h:selectOneMenu value="#{panelRegistrarEmpresasBean.estadoEmpresa}">
                                 <f:selectItems value="#{panelRegistrarEmpresasBean.listaDeEstadosParaEmpresas}"/>
                </h:selectOneMenu>

                <a4j:commandButton value="Grabar"  action="#{panelRegistrarEmpresasBean.btnGrabarEmpesa}"
                                   render="panelGridRegistroEmpresas"/>
                <a4j:commandButton value="Limpiar" action="#{panelRegistrarEmpresasBean.btnLimpiarEmpresa}"
                                   render="panelGridRegistroEmpresas"
                                   execute="@this"/>

            </h:panelGrid>


        </rich:panel>


    </ui:define>
</ui:composition>
