<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich"
                template="../WEB-INF/templates/simple-template.xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:define name="content" style="height:100%;width:100%;">
        <h:form id="formRegistroEmpresas">
            <rich:messages/>
            <ui:include src="panelRegistrarEmpresa.xhtml"/>
        </h:form>
    </ui:define>
</ui:composition>
