<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:a4j="http://richfaces.org/a4j"
                template="../WEB-INF/templates/modal-simple-template.xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:define name="contentModalPanel" style="height:100%;width:100%;">

            <rich:dataTable id="tablaRegistroProyectos"
                         value = "#{panelFiltroBusquedaProyectoBean.proyectoEntityList}"
                         var = "rh"
                         iterationStatusVar="it"
                         rows="15">

                <rich:column width="45px">
                    <f:facet name = "header">Empresa</f:facet>
                    #{rh.pryEmpresaByIdeEmpresa.nombreEmpresa}
                </rich:column>

                <rich:column width="45px">
                    <f:facet name = "header">Codigo proyecto</f:facet>
                    #{rh.codigoProyecto}
                </rich:column>

                <rich:column width="45px">
                    <f:facet name = "header">Proyecto</f:facet>
                    #{rh.nombreProyecto}
                </rich:column>
                <rich:column width="45px">
                    <f:facet name = "header">Horas Cotización</f:facet>
                    #{rh.horasCotizacion}
                </rich:column>
                <rich:column width="220px">
                    <f:facet name = "header">Valor Cotizacion</f:facet>
                    #{rh.valorCotizacion}
                </rich:column>
                <rich:column width="45px">
                    <f:facet name = "header">Estado</f:facet>
                    #{rh.estadoProyecto}
                </rich:column>
                <rich:column width="65px">
                    <f:facet name = "header">Acciones</f:facet>
                    <a4j:commandButton id="btnActualizar"
                                       image="/resources/images/application_form_edit.png"
                                       action="#{panelRegistrarProyectosBean.asignarProyectoParaModificar(rh)}"
                                       execute="@this"
                                       render="panelGridRegistroProyecto"/>

                    <h:outputText value="&#160;&#160;&#160;&#160;" />

                    <a4j:commandButton id="btnEliminar"
                                       image="/resources/images/application_form_delete.png"
                                       execute="@this"
                                       action="#{panelRegistrarProyectosBean.eliminarProyecto(rh)}"
                                       render="tablaRegistroProyectos"/>

                </rich:column>

                <f:facet name="footer">
                    <rich:dataScroller/>
                </f:facet>
            </rich:dataTable>

    </ui:define>
</ui:composition>