<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:a4j="http://richfaces.org/a4j"
                template="../WEB-INF/templates/modal-simple-template.xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:define name="contentModalPanel" style="height:100%;width:100%;">
        <rich:panel header="Ingreso Registro de Proyectos">
            <h:panelGrid id="panelGridRegistroProyecto" columns="6">
                <h:outputLabel value="Codigo Empresa:"/>
                <rich:select enableManualInput="true" value="#{panelRegistrarProyectosBean.ideEmpresa}"
                             defaultLabel="inice a escribir para seleccionar" required="true"
                             requiredMessage="Debe seleccionar un codigo de empresa">
                    <f:selectItems value="#{panelRegistrarProyectosBean.empresasOptions}"/>
                </rich:select>

                <h:outputLabel value="Codigo Proyecto:"/>
                <h:inputText value="#{panelRegistrarProyectosBean.codigoProyecto}"
                             style="text-transform: uppercase"
                             required="true"
                             requiredMessage="Debe ingresar codigo de proyecto"/>

                <h:outputLabel value="Nombre Proyecto:"/>
                <h:inputText value="#{panelRegistrarProyectosBean.nombreProyecto}"
                             style="text-transform: uppercase"
                             required="true"
                             requiredMessage="Debe ingresar nombre de proyecto"/>


                <h:outputLabel value="Horas cotización:"/>
                <h:inputText id="itHorasCotizacion"
                             value="#{panelRegistrarProyectosBean.horasCotizacion}"
                             required="true"
                             requiredMessage="Horas cotizacion es requerido"/>

                <h:outputLabel value="Valor cotización:"/>
                <h:inputText id="itValorCotizacion"
                             value="#{panelRegistrarProyectosBean.valorCotizacion}"
                             required="true"
                             requiredMessage="Valor cotizacion es requerido"/>

                <h:outputLabel value="Estado del Proyecto:"/>
                <rich:select value="#{panelRegistrarProyectosBean.estadoProyecto}"
                             enableManualInput="true"
                             required="true"
                             requiredMessage="Debe seleccionar un codigo de empresa">
                    <f:selectItems value="#{panelRegistrarProyectosBean.estadosOptions}"/>
                </rich:select>



                <a4j:commandButton value="Agregar"
                                   action="#{panelRegistrarProyectosBean.agregarProyecto}"
                                   render="panelGridRegistroProyecto, tablaRegistroProyectos"/>

                <a4j:commandButton value="Limpiar"
                                   execute="@this"
                                   action="#{panelRegistrarProyectosBean.inicializarPanelRegistroProyecto}"
                                   render="panelGridRegistroProyecto,tablaRegistroProyectos"/>
            </h:panelGrid>
        </rich:panel>

    </ui:define>
</ui:composition>