/* CSS Ingesis*/
/* formato para mensajes */
.top {
    vertical-align: top;
    }
a.no-decor>img {
                border: none;
                }
.col {
        vertical-align: top;
     }
.mensajes{
	position : absolute;
	font-family : verdana;
	font-size : 10px;
	text-align: center;
}

.even-row {
    background-color: #FCFFFE;
    }

.odd-row {
    background-color: #ECF3FE;
    }

.active-row {
    background-color: #FFEBDA !important;
    cursor: pointer;
    }

/*Formato de las imagenes*/
.hidelink{
	border:0;
	background-color : transparent;
}
	        
/*Coloca el texto de color Azul de un boton*/
.texto-datascr-NextPrevBtn{
color: #0000CD;
}
				
/*Borde de todo el dataScroller*/													
.rich-dtascroller-table{
border-color: #FFFFFF;
}
				
/*Estilo de los botones en los RichDataScroll*/
.rich-datascr-button{
border-color: #FFFFFF;
background-color: #FFFFFF;
}
				
/* Numeros de las paginas estado Activo*/
.rich-datascr-act{
color: #0000CD;
font-weight: bold;
text-decoration: underline;
border-top-color: #FFFFFF;
}
				
/* Numeros de las paginas estado Inactivo*/
.rich-datascr-inact{
color: #0000CD;
border-top-color: #FFFFFF;
}

.botonExportar{
color: #363636;
FONT-SIZE: xx-small;
width: 100px;
}

body {
	/*background-image:url(../images/page_bg-a.gif);*/
	margin : 0px;
	background-position : top left;
	background-repeat : no-repeat;
	background-color : White;
	/*padding-top:80px;*/
	font-family: Verdana, Arial, Helvetica, sans-serif;
	/*font-weight: bold;*/
	font-size:80%;	
}

zeroPosition {
	margin : 0px;
	padding-top:0px;
}

.page_brick{
	position : absolute;
	top : 0px;
	width : 998px;
} 

li{
	margin-top : 5px;
	margin-bottom : 5px;
	margin-left : -12px;
}
ul{
	margin-top : 10px;
	margin-bottom : 10px;
}

.top_navbar{
	position : absolute;
	top : 2px;
	right : 0px;
	font-family : verdana;
	font-size : 11px;
}



input, select, textarea, button, keygen, isindex, legend, a {
	font-family : verdana;
}

.top_navbar td{
	padding : 5px 10px 7px 10px;
	background-position : left;
	background-repeat : repeat-y;
	background-color : transparent;
}
.top_navbar td a{
	color : #000000;
	text-decoration : none;
}
.top_navbar td a:hover{
	color : #000000;
	text-decoration : underline;
}

.top_navbar td{
background-color : transparent;
	/*background-image : url(../images/top_nav_bg.gif);*/
	border : 0;
}

.skin_chooser{
	position : absolute;
	top : 50px;
	left : 190px;
	font-family : verdana;
	font-size : 11px;
	height : 26px;
}
.skin_chooser td{
	padding : 0px 0px 0px 10px;
	background-color : transparent;
}
.skin_chooser td a{
	color : #7795AF;
	text-decoration : none;
}
.skin_chooser td a:hover{
	color : #7795AF;
	text-decoration : underline;	
}
.skin_chooser .skin_line{
	font-family : verdana;
	font-size : 11px;
}
.skin_chooser .skin_line .control a{
	color : #7795AF;
	text-decoration : none;
}
.skin_chooser .skin_line .control a:hover{
	color : #7795AF;
	text-decoration : underline;	
}
.skin_chooser .skin_line a{
	color : #000000;
	text-decoration : none;
}
.skin_chooser .skin_line a:hover{
	color : #000000;
	text-decoration : underline;	
}

.skin_line_marquee {
	background:#3165CE;
	COLOR: #FFFFFF;
	font-size: 12px; 
	font-weight: bold;
}

.skin_line_bold{
	font-weight: bold;
	font-size: 14px; 
}

.skin_line_small{
	font-size: 7.5pt; 
}

/* controles desactivados */
textarea[disabled], input[type="text"][disabled], input[type="password"][disabled], select[disabled] {
	color: #8994A2;
}

/* opciones del menu */
.rf-pm-itm :hover{
	background-color: #ccddff !important;
}