<div id="header-div" style="height: 54px;"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://java.sun.com/jsf/html">
    <table style="background-color: rgb(1,21,100);" width="100%" cellspacing="0px">
        <tr>
            <td style="width: 50%;">
                <div id="imageHeader" style="text-align: left;">
                    <h:graphicImage name="logo-head.png" library="images" class="accion-image"/>
                </div>
            </td>
            <td style="width: 25%">
                <div style="right: 20%; text-align: right;">
                    <h:form id="logoutForm">
                        <h:outputLabel value="Usuario: "
                                       for="usuarioAutenticado"
                                       style="color:white; font-size: x-small"
                                       rendered="#{infoSesionBean.autenticado}"/>
                        <h:outputText id="usuarioAutenticado"
                                      value="#{infoSesionBean.nombreUsuario}"
                                      style="color:white; font-size: x-small"
                                      rendered="#{infoSesionBean.autenticado}"/>
                        <h:outputText value="  |  "
                                      style="color:white; font-size: x-small"
                                      rendered="#{infoSesionBean.autenticado}"/>
                        <h:commandLink value="Finalizar Sesión"
                                       immediate="true"
                                       action="#{infoSesionBean.finalizarSesion}"
                                       style="color:white; font-size: x-small"
                                       rendered="#{infoSesionBean.autenticado}"/>
                    </h:form>
                </div>
            </td>
            <td style="width: 25%;">
                <div style="right: 10%; text-align: right;">
                    <h:graphicImage name="Logo_Ingesis_2.png" library="images" class="accion-image"/>
                </div>
            </td>
        </tr>
    </table>
</div>
