<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:rich="http://richfaces.org/rich">
    <h:form id="formMenu">
        <rich:panelMenu id="panelMenu" style="width: 180px" groupExpandedLeftIcon="triangleUp"
                        groupCollapsedLeftIcon="triangleDown" topGroupExpandedRightIcon="chevronUp"
                        topGroupCollapsedRightIcon="chevronDown" itemLeftIcon="disc" binding="#{menuBean.menu}"
                        itemMode="server" activeItem="#{menuBean.activeItem}" expandSingle="true">
        </rich:panelMenu>
    </h:form>
</ui:composition>