<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:rich="http://richfaces.org/rich">
    <h:form id="formMenu">
        <h:outputStylesheet>
            .optionList {
                height: 22px;
            }

            .vertical-menu-cell {
                padding: 0px 4px 0px 4px;
            }
        </h:outputStylesheet>

        <h:panelGrid styleClass="vertical-menu-cell" columnClasses="optionList" columns="1" cellspacing="0" cellpadding="0">
            <rich:dropDownMenu style="border:1px solid #{a4jSkin.panelBorderColor}; width: 175px" label="Mantenimientos" mode="ajax"
                               jointPoint="topRight" direction="bottomRight">
                <rich:menuItem label="Empresas" action="#{redireccionamientoMenuBean.redirect('/registroDeEmpresas/registroDeEmpresas.jsf')}" />
                <rich:menuItem label="Proyectos" action="#{redireccionamientoMenuBean.redirect('/registroProyectos/registroProyectos.jsf')}"/>
                <rich:menuItem label="Tareas" action="#{redireccionamientoMenuBean.redirect('/registroTareas/registroTareas.jsf')}"/>
<!--                <rich:menuItem label="Suboption 1-2">-->
<!--                    <f:facet name="icon">-->
<!--                        <h:graphicImage value="/images/icons/print.gif" alt="print" />-->
<!--                    </f:facet>-->
<!--                </rich:menuItem>-->
<!--                <rich:menuItem label="Suboption 1-3" />-->
            </rich:dropDownMenu>
            <rich:dropDownMenu jointPoint="topRight" direction="bottomRight" style="border:1px solid #{a4jSkin.panelBorderColor}"
                               label="Soporte" mode="ajax">
                <rich:menuItem label="Registro de Horas" action="#{redireccionamientoMenuBean.redirect('/registroHoras/registroHoras.jsf')}"/>
<!--                <rich:menuItem label="Suboption 2-2" />-->
<!--                <rich:menuGroup label="Group2">-->
<!--                    <rich:menuItem label="Suboption 2-2-1" />-->
<!--                    <rich:menuItem label="Suboption 2-2-2" />-->
<!--                </rich:menuGroup>-->
<!--                <rich:menuItem label="Suboption 2-3" />-->
            </rich:dropDownMenu>
            <rich:dropDownMenu jointPoint="topRight" direction="bottomRight" style="border:1px solid #{a4jSkin.panelBorderColor}"
                               label="Reportes" mode="client">
                <rich:menuItem label="Suboption 3-1" />
                <rich:menuItem label="Suboption 3-2" />
                <rich:menuItem label="Suboption 3-3" />
            </rich:dropDownMenu>
        </h:panelGrid>

    </h:form>
</ui:composition>
