<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets">
    <div id="contentModalPanel">
        <ui:insert name="contentModalPanel">Content</ui:insert>
    </div>
</ui:composition>