<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>INXU - Sistema de Gestión de Seguros</title>
</h:head>
<h:body>
    <ui:include src="header.xhtml"/>
    <ui:insert name="content">Content</ui:insert>
    <ui:include src="footer.xhtml"/>
</h:body>
</html>
