<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
        >
<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <h:outputStylesheet library="css" name="ingesis.css"  />
    <title>Inxu Bancaseguros</title>
</h:head>
<h:body id="principalBodyMenu" style="background-color: rgb(241,247,254);">
    <table width="100%" style="margin-top: 0; background-color: rgb(241,247,254);" cellspacing="0px">
        <tr style="width: 100%; height: 10px;">
            <td colspan="2">
                <ui:include src="header.xhtml"/>
            </td>
        </tr>
    </table>
    <table width="100%" style="margin-top: 0; background-color: rgb(241,247,254);
               height: 100%" cellspacing="0px">
        <tr style="width: 100%; height: 100%;">
            <td valign="top" width="180px">
                <ui:include src="menuPrySeguros.xhtml"/>
            </td>
            <td valign="top">
                <div id="contenido" style="width: 100%; height: 100%; border: 0 solid darkgray; margin-top: 0;">
                    <ui:insert name="content">Content</ui:insert>
                </div>
            </td>
        </tr>
    </table>
    <table width="100%" style="margin-top: 0; background-color: rgb(241,247,254); border: 1px;
               position: fixed; bottom: 0;" cellspacing="0px">
        <tr>
            <td>
                <div id="footerMenu" style="text-align: center; ">
                    <h:outputText value="@Ingesis 2019"/>
                </div>
            </td>
        </tr>
    </table>
</h:body>
</html>
