<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:a4j="http://richfaces.org/a4j"
                template="../WEB-INF/templates/modal-simple-template.xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:define name="contentModalPanel" style="height:100%;width:100%;">
        <rich:panel header="Ingreso Registro de Tareas">
            <h:panelGrid id="panelGridRegistroTareas" columns="6">

                <h:outputLabel value="Codigo Empresa:"/>
                <rich:select enableManualInput="true" value="#{panelRegistrarTareasBean.ideEmpresa}"
                             defaultLabel="inice a escribir para seleccionar" required="true"
                             requiredMessage="Debe seleccionar un codigo de empresa">
                    <f:selectItems value="#{panelRegistrarTareasBean.empresasOptions}"/>
                    <a4j:ajax event="change" listener="#{panelRegistrarTareasBean.llenarListaProyectosPorEmpresa}"
                              render="selectIdeProyectoTarea"/>
                </rich:select>

                <h:outputLabel value="Proyecto: "/>
                <rich:select id="selectIdeProyectoTarea" enableManualInput="true"
                             value="#{panelRegistrarTareasBean.ideProyecto}"
                             defaultLabel="inice a escribir para seleccionar" required="true"
                             requiredMessage="Debe de seleccionar un proyecto">
                    <f:selectItems value="#{panelRegistrarTareasBean.proyectosOptions}"/>
                    <a4j:ajax event="change" render="itCodigoTarea"/>
                </rich:select>

                <h:outputLabel value="Codigo Tarea:"/>
                <h:inputText id="itCodigoTarea"
                             value="#{panelRegistrarTareasBean.codigoTarea}"
                             style="text-transform: uppercase"
                             required="true"
                             requiredMessage="Debe ingresar codigo de la tarea"/>

                <h:outputLabel value="Nombre Tarea:"/>
                <h:inputText value="#{panelRegistrarTareasBean.descripTarea}"
                             style="text-transform: uppercase; width: 300px;"
                             required="true"
                             requiredMessage="Debe ingresar nombre de la tarea"/>

                <h:outputLabel value="Horas estimadas:"/>
                <h:inputText id="itHorasEstimadas"
                             value="#{panelRegistrarTareasBean.horasEstimadas}"
                             required="true"
                             requiredMessage="Horas estimadas es requerido"/>

                <h:outputLabel value="Estado de la tarea:"/>
                <rich:select value="#{panelRegistrarTareasBean.estadoTarea}"
                             enableManualInput="true"
                             required="true"
                             requiredMessage="Debe seleccionar un codigo de empresa">
                    <f:selectItems value="#{panelRegistrarTareasBean.estadosOptions}"/>
                </rich:select>

                <a4j:commandButton value="Agregar"
                                   action="#{panelRegistrarTareasBean.agregarTarea}"
                                   render="panelGridRegistroTareas,tablaRegistroTareas"/>

                <a4j:commandButton value="Limpiar"
                                   execute="@this"
                                   action="#{panelRegistrarTareasBean.inicializarPanelTareas}"
                                   render="panelGridRegistroTareas,tablaRegistroTareas"/>

                <a4j:commandButton value="Buscar"
                                   execute="@this"
                                   action="#{panelRegistrarTareasBean.aplicarFiltro}"
                                   render="panelGridRegistroTareas,tablaRegistroTareas"/>

            </h:panelGrid>
        </rich:panel>

    </ui:define>
</ui:composition>