<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:a4j="http://richfaces.org/a4j"
                template="../WEB-INF/templates/modal-simple-template.xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:define name="contentModalPanel" style="height:100%;width:100%;">

            <rich:dataTable id="tablaRegistroTareas"
                         value = "#{panelRegistrarTareasBean.tareasXProyectoEntityList}"
                         var = "rh"
                         iterationStatusVar="it"
                         rows="15">

                <rich:column width="45px">
                    <f:facet name = "header">Empresa</f:facet>
                    #{rh.pryProyectoByIdeProyecto.pryEmpresaByIdeEmpresa.nombreEmpresa}
                </rich:column>

                <rich:column width="45px">
                    <f:facet name = "header">Proyecto</f:facet>
                    #{rh.pryProyectoByIdeProyecto.nombreProyecto}
                </rich:column>

                <rich:column width="45px">
                    <f:facet name = "header">Codigo</f:facet>
                    #{rh.codigoTarea}
                </rich:column>
                <rich:column width="45px">
                    <f:facet name = "header">Nombre</f:facet>
                    #{rh.descripTarea}
                </rich:column>
                <rich:column width="220px">
                    <f:facet name = "header">Horas Estimadas</f:facet>
                    #{rh.horasEstimadas}
                </rich:column>
                <rich:column width="45px">
                    <f:facet name = "header">Estado</f:facet>
                    #{rh.estadoTarea}
                </rich:column>

                <rich:column width="65px">
                    <f:facet name = "header">Acciones</f:facet>
                    <a4j:commandButton id="btnActualizar"
                                       image="/resources/images/application_form_edit.png"
                                       action="#{panelRegistrarTareasBean.asignarTareaParaModificar(rh)}"
                                       execute="@this"
                                       render="panelGridRegistroTareas"/>

                    <h:outputText value="&#160;&#160;&#160;&#160;" />

                    <a4j:commandButton id="btnEliminar"
                                       image="/resources/images/application_form_delete.png"
                                       execute="@this"
                                       action="#{panelRegistrarTareasBean.eliminarTarea(rh)}"
                                       render="tablaRegistroTareas"/>

                </rich:column>

                <f:facet name="footer">
                    <rich:dataScroller/>
                </f:facet>
            </rich:dataTable>

    </ui:define>
</ui:composition>