<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                template="../WEB-INF/templates/simple-template.xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:define name="content" style="height:100%;width:100%;">
        <h:form id="formRegistroTareas">
            <ui:include src="../registroTareas/panelRegistrarTareas.xhtml"/>
            <ui:include src="../registroTareas/panelRegistroTareasList.xhtml"/>
        </h:form>
    </ui:define>
</ui:composition>